@include 'scss/variables'

/******************************
*  Body
******************************/

html, body {
    font-family: $font-primary;
    font-size: $font-md;
    font-color: #000;
}
