.vagrant/
/storage/framework/*.key
/storage/logs/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
database/master/ib_buffer_pool
.idea/
.DS_Store
*/.DS_Store
node_modules
!/storage
!/storage/app/
!/storage/app/public/*
