// Colors
$background: #FFFFFE;
$primary: #0A9D53;
$primary-light: #20C65A;
$primary-soft: #52B788;
$primary-faded: rgba(#A1D9C6, .5);
$secondary: #FABC07;
$dark-grey: #2D2A32;
$light-grey: #9E9E9E;

// Font
$font-primary: 'Poppins',
sans-serif;
$font-secondary: 'Roboto',
sans-serif;
$font-xs: 16px;
$font-sm: 20px;
$font-md: 22px;
$font-lg: 28px;
$font-xl: 36px;
$font-reg: 400;
$font-mid: 500;
$font-bold: 700;

// Box shadows
@mixin box-shadow($top, $left, $blur, $color) {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;

    transition: box-shadow .2s;
}

$btn-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);


// Buttons
@mixin border-radius ($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin btn($color, $radius, $bg: false) {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;

    @if $bg {
        background: $color;
        color: #fff;
    } @else {
        background-color: #fff;
        border: 2px solid $color;
    }

    @include border-radius($radius);

    &:hover, &:focus, &:active {
        outline: none;
        border: none;
    }

    &:hover {
        background-color: $color;
        transition: all 0.3s ease;
    }

    &:active, &:focus {
        background-color: darken($color, 25%);
    }
}
