html,
body {
    font-family: $font-primary;
    font-size: $font-sm;
    color: #000;
    background-color: #fff;
    height: 100%;

    h1 {
        font-size: $font-xl;
        font-weight: $font-reg;

        &.accent {
            font-family: $font-secondary;
            font-weight: $font-bold;
            color: $primary;
        }
    }

    h2 {
        font-size: $font-lg;
        font-weight: $font-reg;
    }

    h3 {
        font-size: $font-md;
        font-weight: $font-reg;
    }

    button {
        cursor: pointer;
    }

    .form-control:focus {
        border: none;
        box-shadow: 0 0 0 0.2rem rgba(82, 183, 136, 0.25);
    }

    i.material-icons {
        padding-bottom: 1px;
    }

    .row, .col {
        margin: 0;
        padding: 0 50px;
    }

    p {
        margin: 0;
    }
}

/******************************
*  PRETTY CHECKBOX
******************************/
.pretty {
    font-size: 30px;
    margin-right: 0;
}

/******************************
*  HEADER
******************************/
nav.navbar {
    padding-left: 4rem;
    padding-right: 4rem;

    .flex-column a.navbar-brand {
        padding-top: 0;
        padding-bottom: .5rem;
        margin-right: 0;
    }

    .navbar-nav .nav-item {
        &:not(:last-child) {
            margin-right: 120px;
        }

        .nav-link {
            font-family: $font-primary;
            font-size: $font-sm;
            color: #000;
            padding: 0;


            &:hover {
                color: darken($primary, 2);
                text-decoration: underline;
                transition: text-decoration 0.2s ease;
            }
        }
    }

    .login-btn,
    .register-btn {
        @include btn($primary, 10px, $bg: false);
        width: 140px;
        height: 45px;

        &:hover,
        &:active {
            color: #fff;
            @include box-shadow(0, 4px, 25px, rgba(0, 0, 0, .25));
        }
    }
}

/******************************
*  LANDING
******************************/
.landing {
    height: 100%;
    flex-direction: column;
    margin-top: 8%;

    .row {
        justify-content: center;
    }

    .gs-btn {
        @include btn($primary, 25px, $bg: true);
        @include box-shadow(0, 1px, 6px, rgba(0, 0, 0, 0.25));
        width: 164px;
        height: 54px;

        &:hover,
        &:active {
            background-color: darken($primary, 5);
            @include box-shadow(0, 8px, 40px, rgba(0, 0, 0, .25));
        }
    }
}

/******************************
*  REGISTER
******************************/
.register {
    height: 100%;
    flex-direction: column;
    margin-top: 6%;

    .register-header {
        font-size: $font-md;
        margin-bottom: 60px;
    }

    form {
        a {
            color: #000;
            text-decoration: underline;
            font-size: $font-xs;
            font-weight: $font-mid;

            &:hover {
                color: darken($primary, 5);
            }
        }

        input.form-control {
            background-color: #fff;
            border: 2px solid $light-grey;
            font-size: $font-sm;
            width: 400px;

            &::placeholder {
                color: $light-grey;
            }

            &#password-confirm {
                margin-bottom: 35px;
            }
        }

        .submit-btn {
            @include btn($primary, 25px, $bg: true);
            @include box-shadow(0, 4px, 25px, rgba(0, 0, 0, .25));
            width: 400px;
            height: 48px;
            font-size: $font-md;

            &:hover,
            &:active {
                background-color: darken($primary, 5);
                @include box-shadow(0, 8px, 40px, rgba(0, 0, 0, .25));
            }
        }
    }
}

/******************************
*  LOGIN
******************************/
.login {
    height: 100%;
    flex-direction: column;
    margin-top: 8%;

    .row {
        width: 100%;
    }

    .login-header {
        font-size: $font-md;
        margin-bottom: 60px;
    }

    form {
        a {
            color: #000;
            text-decoration: underline;
            font-size: $font-xs;
            font-weight: $font-mid;

            &:hover {
                color: darken($primary, 5);
            }
        }

        input.form-control {
            background-color: #fff;
            border: 2px solid $light-grey;
            font-size: $font-sm;
            width: 400px;

            &::placeholder {
                color: $light-grey;
            }

            &#password {
                margin-bottom: 55px;
            }
        }

        .submit-btn {
            @include btn($primary, 25px, $bg: true);
            @include box-shadow(0, 4px, 25px, rgba(0, 0, 0, .25));
            width: 400px;
            height: 48px;
            font-size: $font-md;
            margin-top: 45px;

            &:hover,
            &:active {
                background-color: darken($primary, 5);
                @include box-shadow(0, 8px, 40px, rgba(0, 0, 0, .25));
            }
        }
    }
}

/******************************
* HOME VIEW
******************************/
.home {
    padding: 0 50px;

    .hero {
        flex-direction: row;
        justify-content: space-between;
        height: 30%;
        margin-top: 30px;

        .add-btn {
            @include new-btn();

            span {
                margin-right: 10px;
            }
        }
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 0 50px;
    margin-top: 40px;

    .no-projects, .project-card {
        margin: auto;
    }

    .project-card {
        @include new-btn();
        height: 380px;
        width: 100%;
        color: #000;
        padding: 20px 30px;

        .row {
            margin: unset;
            margin-bottom: 30px;
            padding: 0;

            &:last-child {
                margin-bottom: 0;
            }

            &.project-title {
                align-self: center;
                margin-bottom: 40px;
                text-align: center;
            }

            .site-address {
                text-indent: -145px;
                padding-left: 145px;
            }
        }
    }
}

/******************************
*  REPORT VIEW
******************************/
.report {
    padding: 0 50px;
    height: 100%;

    .hero {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;

        .export {
            @include new-btn();

            span {
                margin-right: 10px;
            }
        }
    }
}

/******************************
*  PROJECT VIEW
******************************/
.project-header {
    height: 94px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d6d6d6;
    padding: 0 50px;

    .southface-icon {
        height: 50px;
        width: 50px;
    }

    .settings, .save, .edit {
        @include new-btn();

        span {
            margin-right: 10px;
        }
    }

    .exit {
        @include txt-btn($red);
        font-size: 24px;
        margin-left: 50px;
    }

    .info-container {
        a, h2, i {
            margin-right: 20px;
        }

        h2 {
            margin-bottom: 0;
            white-space: nowrap;
        }

        .material-icons {
            font-size: 30px;
            padding-bottom: 0;
            padding-top: 3px;
        }

        .form-control {
            color: #000;
            border: 1px solid $light-grey;
        }
    }
}

.row.info {
    margin-top: 30px;

    .material-icons {
        padding: 0;
        padding-top: 2px;
        margin-right: 12px;
        color: $primary;
    }
}

.row.project-content {
    margin-top: 40px;
    margin-bottom: 20px;
}

.sidebar {
    .optional div, .required div {
        margin-left: 20px;
        margin-bottom: 15px;
    }

    .material-icons {
        font-size: 14px;
        margin-right: 10px;
    }
}

.table-responsive {
    width: unset;

    table {
        width: 100%;

        th {

            &.points,
            &.planned,
            &.achieved {
                width: 5%;
            }

            &.confirmation,
            &.notes {
                width: 15%;
            }
        }
    }
}



/******************************
*  SETTINGS VIEW
******************************/
.settings-frame {
    flex-direction: column;
    margin: 30px 30px 0 30px;

    &.container-fluid {
        width: auto;
    }

    .row {
        padding: 0;

        &.btn {
            height: 175px;

            .btn-col {
                padding: 0;
            }

            .back-btn {
                @include txt-btn(#000);
                margin-top: 10px;

                span {
                    padding-left: 8px;
                }

                svg {
                    fill: #000;
                    vertical-align: middle;
                    margin-top: 3px;
                }

                &:hover {
                    color: $primary;

                    svg {
                        fill: $primary;
                    }
                }
            }
        }
    }

    .nav-col {
        ul.nav {
            padding: 0;

            li {
                margin-bottom: 20px;

                a.nav-link {
                    display: inline;
                    color: #000;
                    padding: 0;
                    padding-bottom: 4px;

                    &.active {
                        border-bottom: 2px solid #000;
                    }

                    &.logout {
                        @include txt-btn($red);

                        &:hover,
                        &:focus,
                        &:active {
                            text-decoration: none;
                            border: none;
                        }
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        text-decoration: none;
                        border-bottom: 2px solid #000;
                    }
                }
            }
        }
    }

    .content {
        form {
            width: 60%;

            .form-group {
                label {
                    color: #000;
                }

                input.form-control {
                    background-color: #fff;
                    border: 2px solid $light-grey;
                    font-size: $font-sm;

                    &::placeholder {
                        color: $light-grey;
                    }
                }
            }

            button.save {
                @include new-btn();
                width: auto;

                span {
                    margin-right: 10px;
                }
            }
        }
    }
}

/******************************
*  CREATE PROJECT
******************************/
.modal.create-project {
    .modal-content {
        padding: 20px;
        border: none;
        border-radius: 15px;
    }

    .modal-header {
        border: none;
        padding-bottom: 0;
    }

    .modal-body form {
        .form-control {
            background-color: #fff;
            border: 2px solid $light-grey;
            font-size: $font-sm;
            margin-bottom: 25px;

            &.datepicker-here {
                z-index: 9999 !important;
            }

            &::placeholder {
                color: $light-grey;
            }
        }

        .row {
            justify-content: space-between;
            padding: 0 10px;
        }

        button.create {
            @include new-btn();
            font-size: $font-lg;
            line-height: $font-lg;
            width: 200px;

            span {
                margin-right: 10px;

                .material-icons {
                    font-size: $font-lg;
                    padding-bottom: 3px;
                }
            }
        }

        button.close-btn {
            @include txt-btn($red);
            font-size: $font-lg;
        }
    }
}
