html,
body {
    font-family: $font-primary;
    font-size: $font-sm;
    color: #fff;
    margin-top: 45px;

    h1 {
        font-size: $font-xl;
        font-weight: $font-reg;

        &.accent {
            font-family: $font-secondary;
            font-weight: $font-bold;
            color: $primary;
        }
    }

    h2 {
        font-size: $font-lg;
        font-weight: $font-reg;
    }

    button {
        cursor: pointer;
    }
}

/******************************
*  HEADER
******************************/
nav.navbar {
    padding-left: 4rem;
    padding-right: 4rem;

    .flex-column a.navbar-brand {
        padding-top: 0;
        padding-bottom: .5rem;
        margin-right: 0;
    }

    .navbar-nav .nav-item {
        &:not(:last-child) {
            margin-right: 120px;
        }

        .nav-link {
            font-family: $font-primary;
            font-size: $font-sm;
            color: #000;
            padding: 0;


            &:hover {
                color: darken($primary, 2);
                text-decoration: underline;
                transition: text-decoration 0.2s ease;
            }
        }
    }

    .login-btn {
        @include btn($primary, 10px, $bg: false);
        width: 140px;
        height: 45px;

        &:hover,
        &:active {
            color: #fff;
            @include box-shadow(0, 4px, 25px, rgba(0, 0, 0, .25));
        }
    }
}

/******************************
*  LANDING
******************************/
.landing {
    height: 100%;
    flex-direction: column;
    margin-top: 8%;

    .gs-btn {
        @include btn($primary, 25px, $bg: true);
        @include box-shadow(0, 1px, 6px, rgba(0, 0, 0, 0.25));
        width: 180px;
        height: 64px;

        &:hover,
        &:active {
            background-color: darken($primary, 5);
            @include box-shadow(0, 8px, 50px, rgba(0, 0, 0, .25));
        }
    }
}

/******************************
*  LOGIN
******************************/
.login {
    height: 100%;
    flex-direction: column;
    margin-top: 8%;

    .row {
        width: 100%
    }

    .login-header {
        font-size: $font-md;
        margin-bottom: 60px;
    }

    form {
        a {
            color: #000;
            text-decoration: underline;
            font-size: $font-xs;
            font-weight: $font-mid;

            &:hover {
                color: darken($primary, 5);
            }
        }

        input.form-control {
            background-color: #fff;
            border: 2px solid $light-grey;
            font-size: $font-sm;
            width: 400px;

            &::placeholder {
                color: $light-grey;
            }

            &#password {
                margin-bottom: 55px;
            }
        }

        .submit-btn {
            @include btn($primary, 25px, $bg: true);
            @include box-shadow(0, 4px, 25px, rgba(0, 0, 0, .25));
            width: 400px;
            height: 48px;
            font-size: $font-md;
            margin-top: 45px;

            &:hover,
            &:active {
                background-color: darken($primary, 5);
                @include box-shadow(0, 10px, 70px, rgba(0, 0, 0, .25));
            }
        }
    }
}

/******************************
*  DASHBOARD
******************************/
.dashboard {
    height: 100%;
    flex-direction: column;
    // background-color: $background;
    margin: 0 75px 60px 75px;

    .row {
        width: 100%;
        margin: 0;

        &.hero {
            margin-top: 6%;
        }

        &.projects {
            margin-top: 8%;
        }
    }

    .col {
        flex-grow: unset;
        padding: 0;
    }

    h1.equity {
        font-weight: $font-bold;
    }

    .settings-btn {
        @include btn(#fff, 25px, $bg: true);
        @include box-shadow(0, 4px, 15px, rgba(0, 0, 0, 0.15));
        width: 200px;
        height: 52px;
        line-height: 30px;
        color: #000;

        span {
            padding-right: 20px;
        }

        &:hover,
        &:active {
            background-color: $primary;
            color: #fff;
            @include box-shadow(0, 8px, 30px, rgba(0, 0, 0, 0.20));

            svg path {
                fill: #fff;
            }
        }
    }

    .add-btn {
        @include btn($primary, 25px, $bg: true);
        @include box-shadow(0, 4px, 25px, rgba(0, 0, 0, 0.25));
        width: 367px;
        height: 75px;
        line-height: 30px;
        font-size: 44px;

        span {
            padding-left: 20px;
        }

        &:hover,
        &:active {
            background-color: darken($primary, 5);
            @include box-shadow(0, 10px, 70px, rgba(0, 0, 0, 0.25));
        }
    }

    .project-card {
        @include border-radius(25px);
        @include box-shadow(0, 4px, 50px, rgba(0, 0, 0, 0.15));
        background-color: #fff;
        width: auto;
        max-width: 100%;
        padding: 48px;

        // &:not(:last-child) {
        //     margin-right: 118px;
        // }

        .project-title {
            margin-bottom: 10px;
        }
    }
}
